<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center">Welcome to the Admin Page</h1>
        <p class="text-center">This page should only be accessible to users with admin privileges. Your flag is FLAGBROKENACCESSLAB1</p>
        <div class="text-center">
            <a class="btn btn-primary mt-3" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
</body>
</html>
